name: CI/CD Pipeline with Docker - Push based
on:
  push:
    branches:
      - prod

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ github.sha }}

    steps:
      - name: Checkout Source Code
        # uses: 기존 marketplace 상에 등록된 action 사용하기
        uses: actions/checkout@v4

      - name: Authenticate with Docker Registry
        # run: 직접 shell 명령어 실행하기
        run: echo "${{ secrets.DOCKER_REGISTRY_PASSWORD }}" | docker login ${{ secrets.DOCKER_REGISTRY_URL }} --username ${{ secrets.DOCKER_REGISTRY_USER_NAME }} --password-stdin
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_IMAGE_NAME }}:${{ github.sha }} .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_IMAGE_NAME}}:${{ github.sha }}

  deploy:
    name: Deploy to EC2 Server
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.ORACLE_INSTANCE_HOST }}
          username: ubuntu
          key: ${{ secrets.ORACLE_INSTANCE_SSH_PRIVATE_KEY }}
          port: ${{ secrets.ORACLE_INSTANCE_SSH_PORT }}
          script: |
            cd ~
            
            echo "Pulling new image..."
            docker pull ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_IMAGE_NAME }}:${{ needs.build.outputs.image_tag }}
            
            echo "Exporting new image tag..."
            export IMAGE_TAG=${{ needs.build.outputs.image_tag }}
            echo $IMAGE_TAG
            
            # 환경변수 주입
            export JWT_SECRET=${{ secrets.JWT_SECRET }}
            export JWT_ACCESS_EXPIRATION=${{ secrets.JWT_ACCESS_EXPIRATION }}
            export JWT_REFRESH_EXPIRATION=${{ secrets.JWT_REFRESH_EXPIRATION }}
            export PORTONE_TOKEN=${{ secrets.PORTONE_TOKEN }}
            export PORTONE_STORE_ID=${{ secrets.PORTONE_STORE_ID }}
            export PORTONE_HOST=${{ secrets.PORTONE_HOST }}
            export HIBERNATE_DDL_AUTO=${{ secrets.HIBERNATE_DDL_AUTO }}
            export DOCKER_REGISTRY_URL=${{ secrets.DOCKER_REGISTRY_URL }}
            export DOCKER_IMAGE_NAME=${{ secrets.DOCKER_IMAGE_NAME }}
            export DB_URL=${{ secrets.DB_URL }}
            export DB_USERNAME=${{ secrets.DB_USERNAME }}
            export DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            
            echo "Cloning into 'ba2slk/spring-cgv-22nd' ..."
            git clone https://github.com/ba2slk/spring-cgv-22nd.git
            
            cd ./spring-cgv-22nd
            pwd
            
            echo "Checkout to 'prod'"
            git switch prod
            git branch
            
            echo "Show docker-compose.yml"
            ls -al | grep 'docker-compose.yml'
            
            echo "Terminating running containers..."
            docker compose down
            
            echo "Running containers..."
            docker compose up -d
            
            echo "Removing cloned repository..."
            cd ~
            rm -rf ./spring-cgv-22nd
            
            echo "Pruning old images..."
            docker image prune -f
            
            echo "Done. Check container status below."
            docker ps